name: Run unit tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.6', '3.7']
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.node }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.node }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r test-requirements.txt
          pip install -e ./
      - name: Test
        run: cd test && python -m unittest
